# Environment
.env
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Django
db.sqlite3
*.log
staticfiles/
media/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
